@model wep_ban_hang.Areas.Admin.Models.sanpham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>sanpham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tensanpham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tensanpham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.danhgia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.danhgia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hinhanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hinhanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trangthai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trangthai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
