@model IEnumerable<wep_ban_hang.Areas.Admin.Models.ctsanpham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="col-lg-12 grid-margin stretch-card ">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">DANH SÁCH LOẠI SẢN PHẨM</h4>
            <p class="card-description">
                <a class="btn btn-success btn-rounded btn-fw" asp-action="Create">Thêm loại sản phẩm</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.tenloaisanpham)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.trangthai)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tenloaisanpham)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.trangthai)
                                </td>
                                <td>
                                    <a class="btn btn-outline-success btn-fw " asp-action="Edit" asp-route-id="@item.id">Edit</a> <br />
                                    <a class="btn btn-outline-info btn-fw" asp-action="Details" asp-route-id="@item.id">Details</a> <br />
                                    <a class="btn btn-outline-danger btn-fw" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>