@model IEnumerable<wep_ban_hang.Areas.Admin.Models.banner>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">DANH SÁCH GIỎ HÀNG</h4>
            <p class="card-description">
                <a class="btn btn-success btn-rounded btn-fw" asp-action="Create">GIỎ HÀNG</a>
            </p>
            <ul class="navbar-nav w-100">
                <li class="nav-item w-100">
                    <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search " asp-action="Index">
                        <input type="text" class="form-control" placeholder="Tìm kiếm nhà sản xuất" name="searchString">
                    </form>
                </li>
            </ul>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.tenquangcao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.hinhanh)
                            </th>
                            <th width="350px">
                                @Html.DisplayNameFor(model => model.mota)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.trangthai)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tenquangcao)
                                </td>
                                <td>
                                    <img src="~/img/quangcao/@Html.DisplayFor(modelItem => item.hinhanh)" alt="image">
                                </td>
                                <td style="word-wrap: break-word;">
                                    @Html.DisplayFor(modelItem => item.mota)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.trangthai)
                                </td>
                                <td>
                                    <a class="btn btn-outline-success btn-fw " asp-action="Edit" asp-route-id="@item.id">Edit</a> <br />
                                    <a class="btn btn-outline-info btn-fw" asp-action="Details" asp-route-id="@item.id">Details</a> <br />
                                    <a class="btn btn-outline-danger btn-fw" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
