@model IEnumerable<wep_ban_hang.Areas.Admin.Models.giohang>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<div class="col-lg-12 grid-margin stretch-card ">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"> GIỎ HÀNG</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.sanpham.hinhanh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.sanpham.tensanpham)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.sanpham.gia)
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="~/img/sanphams/@Html.DisplayFor(modelItem => item.sanpham.hinhanh)" alt="image" width="100px" height="100px">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sanpham.tensanpham)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sanpham.gia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.soluong)
                                </td>
                                <td>
                                    <form asp-action="Delete" asp-controller="Product">
                                        <input type="hidden" asp-for="@item.id" />
                                        <input type="submit" value="Delete" class="btn btn-danger" /> 
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><a href="~/product/products" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a></td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>Tổng tiền: @ViewBag.tongtien đ</strong></td>
                            <td><a asp-controller="giohangs" asp-action="pay" class="btn btn-success btn-block">Thanh toán <i class="fa fa-angle-right"></i></a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
