@model wep_ban_hang.Areas.Admin.Models.sanpham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<main class="container">

    <!-- Left Column / Headphones Image -->
    <div class="col-lg-12 grid-margin stretch-card ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Chi tiết sản phẩm</h4>
                <p class="card-description">
                    Sản Phẩm
                </p>
                <form asp-controller="Product" asp-action="themgiohang">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.tensanpham)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.tensanpham)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.gia)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.gia)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.danhgia)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.danhgia)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.hinhanh)
                        </dt>
                        <dd class="col-sm-10">
                            <div class="col-md-6">
                                <span><img id="hinh" src="~/img/sanphams/@Html.DisplayFor(model => model.hinhanh)" width="200" height="200" alt="" /></span>
                            </div>
                        </dd>
                        <dt class="col-sm-2">
                            Số lượng
                        </dt>
                        <dd class="col-sm-10">
                            <input name="sl" type="number" class="form-control" />
                        </dd>
                        <dd class="col-sm-10">
                            <div class="product-price">

                                <input name="idsp" value=" @Html.DisplayFor(model => model.id)" type="hidden" />
                                <div class="form-group">
                                    <input type="submit" value="Thêm vào giỏ hàng" class="cart-btn btn btn-outline-success btn-fw" />
                                </div>
                            </div>
                            <a class="btn btn-dark" href="~/product/products">Quay lại trang chủ</a>
                        </dd>
                    </dl>
                </form>
            </div>
        </div>
    </div>
</main>