@model wep_ban_hang.Areas.Admin.Models.hoadon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12 grid-margin stretch-card ">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Details</h4>
            <p class="card-description">
                Hóa Đơn
            </p>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.mahd)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.mahd)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.makh)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.makh)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ngaylap)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ngaylap)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.diachi)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.diachi)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.sodt)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.sodt)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.thanhtien)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.thanhtien)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.trangthai)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.trangthai)
                </dd>
            
                <dd>
                    <a class="btn btn-primary mb-2" asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
                    <a class="btn btn-dark" asp-action="Index">Back to List</a>
                </dd>
            </dl>
    </div>

</div>
</div>

